body{
    margin: 0 20%;
    font-size: 1.25rem;
    background-color: whitesmoke;
}

.categoria{
    border-style: dotted;
    padding: 25px;
}

.caixa{
    margin: auto;
    display: block;
    width: 600px;
    height: 600px;
    border: 1px solid grey;
    margin-bottom: 50px;
    text-align: center;
  }
  
  h1{
    border-bottom: 1px solid grey;
  }
  
  .exemple{
    height: 100px;
    border-bottom: 1px solid grey;
  }
  
  .codi{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
  }
  
  .parraf{
    padding: 10px;
  }
  
  .inline{
    display: inline;
    width: 400px;
    color:white;
    background-color: blue;
    padding: 10px;
  }
  
  .block{
    display: block;
    width: 400px;
    color:white;
    background-color: blue;
    padding: 10px;
  }
  
  .inline-block{
    display: inline-block;
    width: 400px;
    color:white;
    background-color: blue;
    padding: 10px;
  }